<a href="https://colab.research.google.com/github/miakri/MachineLearningExam_Problem4/blob/main/Problem4_DeepLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
%tensorflow_version 1.x

In [52]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import tensorflow as tf
import keras
%matplotlib inline

In [4]:
data = pd.read_csv('cleaned_train_test_combined.csv')

In [5]:
data.head()

   Item_Identifier  Item_Weight  ...  Item_Outlet_Sales  Outlet_Years
0                0         9.30  ...          3735.1380            20
1                1         5.92  ...           443.4228            10
2                0        17.50  ...          2097.2700            20
3                0        19.20  ...           732.3800            21
4                2         8.93  ...           994.7052            32

[5 rows x 13 columns]

In [6]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            1907
Outlet_Years                    0
dtype: int64

In [24]:
data['Item_Outlet_Sales'].mean()

0.1888474562427072

In [25]:
data['Item_Outlet_Sales'].median()

0.15554259043173865

In [27]:
data['Item_Outlet_Sales'].fillna(data['Item_Outlet_Sales'].median(), inplace=True)

In [28]:
data.describe()

       Item_Identifier  Item_Weight  ...  Item_Outlet_Sales  Outlet_Years
count      6907.000000  6907.000000  ...        6907.000000   6907.000000
mean          0.232445     0.496934  ...           0.179652      0.445930
std           0.393172     0.259792  ...           0.127846      0.336729
min           0.000000     0.000000  ...           0.000000      0.000000
25%           0.000000     0.276273  ...           0.102975      0.208333
50%           0.000000     0.496934  ...           0.155543      0.416667
75%           0.500000     0.702292  ...           0.221004      0.916667
max           1.000000     1.000000  ...           1.000000      1.000000

[8 rows x 13 columns]

In [8]:
data.dtypes

Item_Identifier                int64
Item_Weight                  float64
Item_Fat_Content               int64
Item_Visibility              float64
Item_Type                      int64
Item_MRP                     float64
Outlet_Identifier              int64
Outlet_Establishment_Year      int64
Outlet_Size                    int64
Outlet_Location_Type           int64
Outlet_Type                    int64
Item_Outlet_Sales            float64
Outlet_Years                   int64
dtype: object

In [11]:
# Setting all the values in the range 0 to 1
for i in data.columns[:]:
    data[i] = (data[i] - data[i].min()) / (data[i].max() - data[i].min())

In [12]:
data.head()

   Item_Identifier  Item_Weight  ...  Item_Outlet_Sales  Outlet_Years
0              0.0     0.282525  ...           0.324387      0.416667
1              0.5     0.081274  ...           0.035939      0.000000
2              0.0     0.770765  ...           0.180863      0.416667
3              0.0     0.871986  ...           0.061260      0.458333
4              1.0     0.260494  ...           0.084247      0.916667

[5 rows x 13 columns]

Checking by using the method describe if the the minimum and maximum values are between 0-1 for all the columns.

In [13]:
data.describe()

       Item_Identifier  Item_Weight  ...  Item_Outlet_Sales  Outlet_Years
count      6907.000000  6907.000000  ...        5000.000000   6907.000000
mean          0.232445     0.496934  ...           0.188847      0.445930
std           0.393172     0.259792  ...           0.149243      0.336729
min           0.000000     0.000000  ...           0.000000      0.000000
25%           0.000000     0.276273  ...           0.071237      0.208333
50%           0.000000     0.496934  ...           0.155543      0.416667
75%           0.500000     0.702292  ...           0.268028      0.916667
max           1.000000     1.000000  ...           1.000000      1.000000

[8 rows x 13 columns]

In [14]:
data.shape

(6907, 13)

Separating the independent and the dependant variables

In [34]:
X = data.drop('Item_Outlet_Sales', axis = 1)

y = data['Item_Outlet_Sales']


X.shape, y.shape

((6907, 12), (6907,))

In [41]:
y.iloc[:].value_counts()

0.155543    1910
0.081097      11
0.104901      10
0.063594      10
0.202917       9
            ...
0.039265       1
0.012077       1
0.118436       1
0.092474       1
0.000000       1
Name: Item_Outlet_Sales, Length: 2676, dtype: int64

In [42]:
data['Item_Outlet_Sales'].value_counts()

0.155543    1910
0.081097      11
0.104901      10
0.063594      10
0.202917       9
            ...
0.039265       1
0.012077       1
0.118436       1
0.092474       1
0.000000       1
Name: Item_Outlet_Sales, Length: 2676, dtype: int64

In [45]:
# Creating training and validation set

# stratify will make sure that the distribution of classes in train and validation set it similar
# random state to regenerate the same train and validation set
# test size 0.2 will keep 20% data in validation and remaining 80% in train set

X_train,X_test,y_train,y_test = train_test_split(X,y, random_state=10, test_size=0.2)

In [47]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(5525, 12)
(5525,)
(1382, 12)
(1382,)

In [53]:
print(keras.__version__)
print(tf.__version__)

2.3.1
1.15.2

# 2. Define the architecture

BESKRIVELSE!

- 5 hidden layers
-

In [64]:
from keras.models import Sequential
from keras.layers import InputLayer, Dense 
#from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.metrics import accuracy_score

In [124]:
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt

In [56]:
input_neurons = X_train.shape[1]

Tatt bort fra --------------------------

model = Sequential()
model.add(Dense(64, input_dim=input_neurons, init='normal', activation='relu'))
model.add(Dense(32, init='normal', activation='relu'))
model.add(Dense(16, init='normal', activation='relu'))
model.add(Dense(8, init='normal', activation='relu'))
model.add(Dense(4, init='normal', activation='relu'))
model.add(Dense(1, init='normal'))
# model.add(Dense(1, init='normal',activation='softmax'))

model.compile(loss='mean_squared_error', optimizer = 'adam', metrics=['mean_squared_error'])

model.summary()

# 3.
## Traning the model

model.fit(X_train,y_train,epochs=8, batch_size=1, verbose=1)

# 4. 
## Generated predictions to CSV file

# 5. 
## R2 Score

score = model.evaluate(X_test, y_test, verbose=0)
score

prediction = model.predict(X_test)
R2_SCORE = r2_score(y_test, prediction)

print("R2 Score:", round(R2_SCORE,3))

Til her ----------------------------------

In [136]:
model2 = Sequential()

model2.add(Dense(32, input_dim=input_neurons, init='normal', activation='relu'))
model2.add(Dense(16, init='normal', activation='relu'))
model2.add(Dense(8, init='normal', activation='relu'))
model2.add(Dense(4, init='normal', activation='relu'))
model2.add(Dense(1, init='normal'))
model2.compile(loss='mean_squared_error', optimizer = 'adam')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(32, input_dim=12, activation="relu", kernel_initializer="normal")`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(16, activation="relu", kernel_initializer="normal")`
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(8, activation="relu", kernel_initializer="normal")`
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(4, activation="relu", kernel_initializer="normal")`

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(1, kernel_initializer="normal")`
  import sys

In [131]:
model2.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_30 (Dense)             (None, 32)                416
_________________________________________________________________
dense_31 (Dense)             (None, 16)                528
_________________________________________________________________
dense_32 (Dense)             (None, 8)                 136
_________________________________________________________________
dense_33 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_34 (Dense)             (None, 1)                 5
=================================================================
Total params: 1,121
Trainable params: 1,121
Non-trainable params: 0
_________________________________________________________________

In [132]:
BATCH = 2000

print('Training time, it is...')
model2.fit(X_train, y_train,
          batch_size=BATCH,
          epochs=10, verbose=1
         )

Training time, it is...
Epoch 1/10
5525/5525 [==============================] - 0s 51us/step - loss: 0.0480
Epoch 2/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0470
Epoch 3/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0460
Epoch 4/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0450
Epoch 5/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0440
Epoch 6/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0429
Epoch 7/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0419
Epoch 8/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0409
Epoch 9/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0399
Epoch 10/10
5525/5525 [==============================] - 0s 3us/step - loss: 0.0390

In [133]:
score = model.evaluate(X_test, y_test, verbose=0)
score

[0.6888743358652084, 0.6888743042945862]

In [135]:
prediction = model2.predict(X_test)
MODEL2 = r2_score(y_test, prediction)

print("R2 Score:", round(MODEL2))

R2 Score: -1.0